div.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15em;
    height: auto;
}
div.content div {
    width: 50em;
    display: flex;
    flex-direction: column;
    margin-left: 30em;
}
h2{
    font-size: 4rem;
    font-weight: 500;
    width: 100%;
    margin-top: 3rem;
}
h3 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
}
p {
    font-size: 2.2rem;
    font-weight: 300;
}
span {
    font-size: 2.2rem;
    font-weight: 500;
}
li {
    font-size: 2.2rem;
    font-weight: 300;
    list-style-type: none;
    margin-top: 1.2rem;
}
ul {
    margin-left: 2em;
}
ul :first-child {
    font-weight: 500;
    margin-top: 5rem;
}


/* resizing nav for tablet */
@media only screen and (max-width: 1024px) {
    div.content {
        padding-top: 20em;
    }
    div.content div {
        margin: 0;
        padding-left: 10em;
    }
}