div.content{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
    overflow: hidden;
    margin-bottom: 10em;
}
.title {
    width: 100%;
    padding-left: 5em;
    margin-top: 5em;
}
.title h1 {
    font-size: 12rem;
    font-weight: 700;
    line-height: 13rem;
}
.description {
    width: 100%;
    padding-left: 30em;
    padding-right: 30em;
    margin-top: 10em;
    margin-bottom: 5em;
}
p {
    font-size: 2rem;
    font-weight: 300;
}
h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
}
div.pic {
    background-size: cover;
    width: 60em;
    height: 40em;
}
div.pic1 {
    background-image: url(../media/metal-condom.jpg)
}
div.pic2 {
    background-image: url(../media/water-condom.jpg)
}
@media only screen and (max-width: 480px) {
    .title {
        padding-left: 1em;
        padding-right: 1em;
    }
    .description {
        padding-left: 5em;
        padding-right: 5em;
    }
    p {
        font-size: 3rem;
    }
    h2 {
        font-size: 3rem;
    }
}